@use './theme/theme' as *;
@use 'tokens/index' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML et Body */
html, body {
    min-height: 100vh;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: lh(relaxed);
    background-image: url('/1774434686.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: theme(text-color);
    scroll-behavior: smooth;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
    background: theme(body-bg);
    pointer-events:none;
    backdrop-filter: blur(20px);
}

main{
    margin-top: space(4xl);
    padding:space(sm) space(2xl);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}