@use '../tokens/index.scss' as *;
@use '../theme/theme.scss' as *;
@use '../minxing/index.scss' as *;

.button {
  @include flex;
  min-width: 130px;
  font-size: fs(sm);
  max-width: fit-content;
  gap: space(sm);
  padding: space(sm) space(lg);
  border: none;
  border-radius: 50px;
  font-weight: fw(medium);
  cursor: pointer;
  transition: all 0.2s ease;

  .icon {
    @include flex;
  }
}

/* Variants */

.success {
  background-color: theme(success);
  color: white;

  &:hover {
    @include button-hover(theme(success));
  }
}

.danger {
  background-color: theme(danger);
  color: white;

  &:hover {
    @include button-hover(theme(danger));
  }
}

.primary {
  background-color: theme(primary);
  color: white;

  &:hover {
    @include button-hover(theme(primary));
  }
}

.secondary {
  background-color: theme(secondary);
  color: white;

  &:hover {
    @include button-hover(theme(secondary));
  }
}

.warning {
  background-color: theme(warning);
  color: white;

  &:hover {
    @include button-hover(theme(warning));
  }
}